<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메인 페이지</title>
    <link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var jbTime = 700;
            $('.jb-1').animate({
                opacity: '1'
            }, jbTime, function () {
                $('.jb-2').animate({
                    opacity: '1'
                }, jbTime, function () {
                    $('.jb-3').animate({
                        opacity: '1'
                    }, jbTime, function () {
                        $('.jb-4').animate({
                            opacity: '1'
                        }, jbTime, function () {
                            $('.jb-5').animate({
                                opacity: '1'
                            }, jbTime);
                        });
                    });
                });
            });
        });
    </script>
</head>

<body>

    <div class="container">

        <p class="jb jb-1">
            안녕하세요!
        </p>

        <p class="jb jb-2">
            <span class="emp">2015년 01월 01일</span>부터
            <span class="emp">2020년 12월 31일</span>까지의
        </p>

        <p class="jb jb-3">
            수도권 지하철 관련 각종 데이터 통계와
        </p>

        <p class="jb jb-4">
            <span class="emp">실시간 지하철 도착 정보</span>
            를 확인할 수 있는 사이트에요!:)
        </p><br>

        <button class="jb jb-5" id="selectBtn" onclick="location.href='/batch'">통계 보기!</button>&nbsp;&nbsp;
        <button class="jb jb-5" id="selectBtn" onclick="location.href='/realtime'">실시간 도착 정보 보기!</button>

    </div>

</body>

<style>
    .container {
        text-align: center;
        position: relative;
        font-size: 30px;
        font-weight: 500;
        font-family: Hanna;
        top: 50px;
    }

    .emp {
        font-size: 45px;
    }

    #selectBtn {
        font-family: Hanna;
        background-color: white;
        padding: 15px 30px;
        font-size: 25px;
        border: 5px solid;
        opacity: 0;
    }

    .jb {
        opacity: 0;
    }
</style>

</html>