{% extends 'batch/base.html' %}

{% block title %}연도별 통계{% endblock %}

{% block script %}
<!-- chart js get-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block content %}

<div class="container-sub-2">

    <br>

    <table class="result_table jb-1">
        <th>연도</th>
        <th>승차(건)</th>
        <th>하차(건)</th>
        {% for key, value in json_data.items %}
        <tr>
            <td>{{ key }}</td>
            <td class="counter">{{ value.ride }}</td>
            <td class="counter">{{ value.alight }}</td>
        </tr>
        {% endfor %}
    </table>

    <canvas id="line_chart" class="line_chart" width="435" height="315"></canvas>
    <script>

        // 장고에서 넘어온 json 데이터를 자바스크립트 변수로 활용하기 위한 파싱 작업

        const json_pasing = "{{ json_data }}".replace(/&#x27;/g, "\"");
        const json_js = JSON.parse(json_pasing);

        const label_data = []
        const ride_data = []
        const alight_data = []

        for (var i in json_js) {
            label_data.push(i);
            ride_data.push(parseInt(json_js[i]['ride'].replace(/,/gi, ''), 10));
            alight_data.push(parseInt(json_js[i]['alight'].replace(/,/gi, ''), 10));
        }

        // 차트 설정
        new Chart(document.getElementById("line_chart"), {
            type: 'line',
            data: {
                labels: label_data,
                datasets: [{
                    data: ride_data,
                    label: "승차",
                    fontColor: "black",
                    borderColor: "yellow",
                    backgroundColor: "yellow",
                    fill: "false"
                }, {
                    data: alight_data,
                    label: "하차",
                    fontColor: "black",
                    borderColor: "blue",
                    backgroundColor: "blue",
                    fill: false
                }
                ],
            },
            options: {
                responsive: false,
                legend: {
                    labels: {
                        fontColor: 'black'
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 1000000000,
                            max: 3000000000
                        }
                    }]
                },
                title: {
                    display: true,
                    text: '연도별 승하차 기록 추이',
                    fontColor: 'black'
                },
                animation: {
                    duration: 1000,
                    easing: 'linear',
                }
            }
        });
    </script>

</div>
{% endblock %}

{% block style %}
<style>
    .result_table {
        text-align: center;
        border: none;
        font-size: 17.5px;
        width: 335px;
        border-collapse: separate;
        border-spacing: 0 10px;
        opacity: 0;
    }

    td {
        width: 17.5px;
        word-break: break-all;
    }

    .line_chart {
        position: relative;
        float: right;
        bottom: 250px;
    }
</style>
{% endblock %}